li {
    list-style-type: none !important;
}
body {
    font-family: "Prompt", sans-serif;
    background-color: #141414;
    background-size: cover !important;
    scroll-behavior: smooth;
}
video {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
main,
video {
    height: 100vh;
}
main {
    overflow: auto;
    background: rgba(0, 0, 0, 0.7) !important;
    color: #fff;
    position: relative;
}
.bg-navbar {
    background-color: rgba(0, 0, 0, 0.2) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.bg-transparent {
    background-color: transparent;
}
.card {
    background-color: #242426 !important;
    border-radius: 5px;
    border: none;
}
.custom-line {
    background: #333;
    margin-top: -2px;
}
.navbar-dark .navbar-nav .nav-link {
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 18px;
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
    margin-top: 30px;
}
.dropdown-menu {
    border: 2px solid hsla(0, 0%, 80%, 0.1098);
    background-color: rgba(36, 36, 38, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px hsla(0, 0%, 100%, 0.07059);
}
.dropdown-item {
    color: #fff;
    width: 230px;
}
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(36, 36, 38, 0.2);
}
.dropdown-item:focus,
.dropdown-item:hover {
    border-left: 3px solid #fff;
}
.dropdown-divider {
    border-top: 1px solid hsla(0, 0%, 100%, 0.07843);
}
#footer {
    margin-top: 100px;
    margin-bottom: 30px;
}
#footer p {
    font-size: 12px;
}
#main h1 {
    font-size: 20px;
    font-weight: 900;
}
#header h1 {
    font-size: 100px;
    font-weight: 900;
}
#header span {
    font-size: 20px;
    font-weight: 300;
}
#subscribe-text {
    line-height: 20px;
}
#subscribe-text h5,
#subscribe-text span {
    font-size: 16px;
}
#store-category,
#store-item h1 {
    font-size: 50px;
    font-weight: 600;
}
#store-category,
#store-item h4,
#store-item h5 {
    font-size: 1.3rem;
    font-weight: 300;
}
#store-category,
#store-item a {
    color: #cbcaca;
    font-size: 1.2rem;
    font-weight: 400;
}
.text-display {
    line-height: 5px;
}
.text-display h5 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.text-display span {
    font-size: 13px;
    color: #cdcdcd;
}
#component-section h4 {
    font-weight: 500 !important;
}
.box-animate {
    padding: 5px;
    border-radius: 10px;
}
.box-animate:hover {
    border: 2px solid rgba(86, 84, 83, 0.4) !important;
    padding: 15px;
    transition-duration: 0.4s;
}
a {
    color: #fff;
}
a:hover {
    text-decoration: none;
}
.btn-xenon {
    background-color: hsla(0, 0%, 100%, 0.18);
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.badge-xenon {
    background-color: hsla(0, 0%, 100%, 0.07059);
    padding-left: 16px;
    padding-right: -20px;
    font-size: 16px;
}
.btn-xenon:active,
.btn-xenon:hover {
    color: hsla(0, 0%, 100%, 0.788);
}
.btn-outline-light {
    background-color: transparent;
    border: 1px solid rgba(248, 249, 250, 0.0902);
}
.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show > .btn-outline-light.dropdown-toggle {
    color: #fff;
    background-color: #f8f9fa;
    border-left: 2px solid #ccc !important;
    background-color: transparent;
    border-color: rgba(248, 249, 250, 0.1098);
}
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-subscribe {
    background-color: transparent;
    border: 1px solid hsla(0, 0%, 100%, 0.52941) !important;
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}
.btn-subscribe:active,
.btn-subscribe:hover {
    color: hsla(0, 0%, 100%, 0.788);
}
.btn-submit {
    background-color: hsla(0, 0%, 100%, 0.18039) !important;
}
.btn-discord,
.btn-submit {
    border-color: transparent;
    border-radius: 10px !important;
    font-size: 20px;
}
.btn-discord {
    background-color: rgba(76, 76, 77, 0.3098) !important;
}
.btn-auth {
    color: hsla(0, 0%, 100%, 0.75);
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px !important;
    font-size: 20px;
}
#slide img {
    pointer-events: none;
}
.btn-auth:active,
.btn-auth:focus,
.btn-auth:hover {
    background-color: transparent !important;
    border-color: transparent;
    border-radius: 10px !important;
    font-size: 20px;
}
@media (min-width: 390px) {
    #main {
        padding-top: 100px;
    }
    #component-section,
    #slide {
        margin-top: 100px;
    }
    #header {
        padding-top: 200px;
    }
    .text-banner {
        position: absolute !important;
        color: #fff;
        font-size: 10px;
        top: 40%;
        margin-left: 1%;
    }
    #header h1 {
        font-size: 55px;
        font-weight: 900;
    }
    #header h2 {
        font-size: 24px;
        font-weight: 600;
    }
    .text-banner h1 {
        font-size: 30px !important;
        font-weight: 300;
    }
    #store-category,
    #store-item {
        padding-top: 140px;
    }
    .slick-current .img-slide {
        height: 400px;
        margin-top: 0;
    }
    .fade-in {
        animation: fadeIn 5s ease;
        -webkit-animation: fadeIn 5s ease;
        -moz-animation: fadeIn ease 5s;
        -o-animation: fadeIn ease 5s;
        -ms-animation: fadeIn ease 5s;
    }
    .slick-current {
        transition-duration: 1s;
    }
    .text-banner {
        display: none !important;
    }
    .slick-current .img-slide {
        height: 250px !important;
        width: 633px;
        transition-duration: 0.3s;
    }
    .img-slide {
        height: 250px !important;
        transition-duration: 0.2s;
        width: 633px;
    }
    .slick-current .text-banner {
        display: block !important;
        animation-name: bottomFadeOut;
        animation-duration: 1.5s;
    }
    .slick-slide {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width: 768px) {
    .bg-navbar {
        background-color: transparent !important;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .text-banner {
        position: absolute !important;
        color: #fff;
        font-size: 17px;
        top: 43%;
        margin-left: 2%;
    }
    .slick-current .img-slide {
        height: 350px !important;
        width: 633px;
        transition-duration: 0.3s;
    }
    .img-slide {
        height: 350px !important;
        transition-duration: 0.2s;
        width: 633px;
    }
}
@media (min-width: 1200px) {
    #main {
        padding-top: 400px;
    }
    #component-section {
        margin-top: 150px;
    }
    #slide {
        margin-top: 350px;
    }
    #header {
        padding-top: 300px;
    }
    .text-banner {
        position: absolute !important;
        color: #fff;
        font-size: 30px;
        top: 40%;
        margin-left: 70px;
    }
    .text-banner span {
        color: #fff;
        font-size: 16px;
    }
    #header h1 {
        font-size: 100px;
        font-weight: 900;
    }
    #header h2 {
        font-size: 40px;
        font-weight: 600;
    }
    .text-banner h1 {
        font-size: 40px !important;
        font-weight: 300;
    }
    #store-category,
    #store-item {
        padding-top: 170px;
    }
    .text-banner {
        display: none !important;
    }
    .slick-current .img-slide {
        height: 400px !important;
        width: 633px !important;
        margin-top: 0;
        transition-duration: 0.3s;
    }
    .fade-in {
        animation: fadeIn 5s ease;
        -webkit-animation: fadeIn 5s ease;
        -moz-animation: fadeIn ease 5s;
        -o-animation: fadeIn ease 5s;
        -ms-animation: fadeIn ease 5s;
    }
    .img-slide {
        height: 350px !important;
        transition-duration: 0.2s;
        margin-top: 20px;
        width: 633px;
    }
    .slick-current .text-banner {
        display: block !important;
        animation-name: bottomFadeOut;
        animation-duration: 1.5s;
    }
    .slick-current {
        transition-duration: 1s;
    }
    .slick-slide {
        padding-left: 150px;
        padding-right: 150px;
    }
}
#button-7 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#button-7 a {
    position: relative;
    left: 0;
}
#button-7 a,
#dub-arrow {
    transition: all 0.35s ease-Out;
}
#dub-arrow {
    width: 100%;
    height: 100%;
    background: transparent;
    left: -200px;
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
#button-7 img {
    width: 20px;
    height: auto;
}
#button-7:hover #dub-arrow {
    left: 0;
}
#button-7:hover a {
    left: 150px;
}
.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 1px solid #fff;
    margin: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.box {
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#feature {
    font-size: 24px;
}
.rounded-10 {
    border-radius: 10px;
}
.modal-content {
    background: #242426 !important;
    color: #fff;
    border-radius: 20px;
}
#login-text,
#payment-text,
#register-text {
    display: inline-block;
    width: 100px;
    color: #fff;
}
#login-text.active,
#payment-text.active,
#register-text.active {
    border-bottom: 4px solid #dee2e6;
    padding-bottom: 10px;
}
.custom-file-label,
.custom-file-label:after,
.custom-select,
.custom-select:active,
.custom-select:disabled,
.custom-select:focus,
.form-control,
.form-control:active,
.form-control:disabled,
.form-control:focus,
.form-control[readonly] {
    background-color: #2a2a2c;
    border-color: #3a3a3a;
    box-shadow: none;
    color: #d7d7d7;
}
#login-submit,
#register-submit {
    background-color: #434345 !important;
    border-color: transparent;
    border-radius: 10px !important;
    font-size: 20px;
}
.embed-resp {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.embed-resp iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg-dark {
    background-color: #242426 !important;
}
.bg-custom-dark {
    background-color: hsla(0, 0%, 100%, 0.01176) !important;
}
.page-item.active .page-link {
    background-color: #1b1b1c;
    border-color: #1b1b1c;
}
.page-link {
    color: #fff;
}
.page-link:hover {
    color: #fff;
    background-color: #2a2a2c;
    border: 1px solid rgba(58, 58, 58, 0.65882);
}
.page-link:focus {
    box-shadow: none;
}
.page-link {
    background-color: #2a2a2c;
    border: 1px solid #3a3a3a;
}
.page-item.disabled .page-link {
    background-color: #2a2a2c;
    border-color: #3a3a3a;
    color: #fff;
}
.table td,
.table th {
    border-top: 1px solid rgba(222, 226, 230, 0.10196);
}
.item-image {
    width: 150px;
    border-radius: 10px;
}
.input-group-text {
    background-color: #1b1b1c;
    border-color: #1b1b1c;
    color: #fff;
}
.item-image-soldout {
    filter: grayscale(1);
    position: relative;
}
.item-text-discount {
    position: absolute;
    top: 3%;
    left: 8%;
    text-align: center;
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    width: 20%;
}
.item-text-soldout {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: red;
    font-weight: 700;
}
.input-element {
    display: none;
}
.card-input:hover {
    cursor: pointer;
}
.input-element:checked + .card-input {
    box-shadow: 0 0 10px 1px hsla(0, 0%, 98.4%, 0.07843);
    border: 1px solid #f11212;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.05098);
}
.card-input {
    box-shadow: 0 0 1px 1px #343434;
    padding: 5px;
    border-radius: 10px !important;
    background-color: #2a2a2a;
}
.radio:focus ~ .card-input {
    box-shadow: 0 0 0 2px #000;
}
.avatar-file {
    display: none;
}
.avatar {
    position: relative;
    padding: 0;
    width: 150px;
    display: block;
    cursor: pointer;
    overflow: hidden;
}
.avatar-content {
    opacity: 0;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    background-color: hsla(0, 0%, 78.4%, 0.5);
    border-radius: 50% !important;
    width: 150px;
    height: 150px;
    transition: all 0.4s ease-out;
    text-align: center;
}
.avatar .avatar-content:hover {
    opacity: 1;
}
.avatar .avatar-content .text {
    cursor: pointer;
    height: 150px;
    opacity: 0.5;
    transition-delay: 0s;
    transition-duration: 0.4s;
}
.avatar .avatar-content:hover .text {
    opacity: 1;
    transform: translateY(55px);
    -webkit-transform: translateY(55px);
}
.slick-track[data-v-e4caeaf8] {
    position: unset;
}
.slick-slide {
    margin: 0;
}
a:hover {
    color: hsla(0, 0%, 100%, 0.78039);
}
.divide-hr {
    background: hsla(0, 0%, 100%, 0.07059);
    height: 1px;
}
@keyframes bottomFadeOut {
    0% {
        position: absolute;
        bottom: -5rem;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes rightFadeInOut {
    0% {
        position: absolute;
        right: -3rem;
        opacity: 0;
    }
    75% {
        position: absolute;
        right: 10rem;
        opacity: 1;
    }
    to {
        opacity: 0;
        right: 10rem;
    }
}
